nav{
  	box-sizing: border-box;
	padding:20px;
  	background-color:white;

  @include respondTo($M){
	width:40%;
	float:left;
  }


  	a {
	  display:inline-block;
	  margin-right:1em;
	}
}

.strip p{
  padding:0 0 0 20px;
  float:left;

  @include respondTo($M){
	float:right;
  }
}

.strip {
  box-sizing: border-box;
  width:100%;
  overflow: hidden;

  @include respondTo($M){
	float: right;
	padding:0 20px;
	width:60%;
  }
}
