nav{
  @include addTexture(black);

  ul{
	margin:0;
	padding:0;
	list-style-type: none;
  }

  li{
	display: inline-block;
	min-width:25%;
  }

  a{
	font-family: $title-font;
	color:white;
	display: block;
	padding: 1em 1em 0.5em 1em;
	box-sizing: border-box;
	text-decoration: none;
	font-size:1.5em;
  }

  a:hover{
	color:$red;
  }

  a.current, a.current:hover{
	color:$red;
  }

  @include respondTo($M){
	margin-top:1em;


	ul{
	  padding:1em 0;
	  transform: translateX(50px);
	}

	li{
	  min-width: 0;
	}

	a{
	  padding:0;
	}

	a:before{
	  content: '|';
	  color: $red;
	  display: inline-block;
	  margin: 0 1em;
	}

	li:first-child a:before{
	  display: none;
	}
  }
}
