@import "meyer-reset";
@import "bourbon/bourbon";
@import "mixins";



body{
  font-family: "Helvetica", Arial, sans-serif;
  font-size:16px;
  line-height: 1.2em;
  @include addTexture($red);
}

.container{
  @include addInvertedTexture(white);
  padding-bottom:20px;

  @include respondTo($L){
	margin:20px;
  }
}



b{
  font-weight: bold;
}

i{
  font-style: italic;
}

a{
  color:$red;
  text-decoration: underline;
}

.button{
  font-family: $title-font;
  color: white;
  padding:5px 20px;
  border-radius: 0.25em;
  @include addTexture(black);
  text-decoration: none;
  box-shadow: 2px 2px 2px black;
  transition: all 250ms ease-out;

  &:hover{
	opacity:0.8;
	box-shadow: 2px 2px 5px black;
  }

  &.standout{
	@include addTexture($red);
  }
}

header{
  width:100%;
  @include addTexture(black);
  position: relative;

  h1{
	box-sizing: border-box;
	height:125px;
	width: 280px;
	text-indent:-9999px;
	margin-left:0px;
	background: url(images/logo.png) left top no-repeat;
	background-size: 100%;

	@include respondTo($M){
	  height:157px;
	  width: 352px;
	  margin-left:40px;
	}
  }

  .ssm-logo{
	width:116px;
	height:150px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(images/ssm-logo.png) center center no-repeat;
	display: none;

	@include respondTo($M){
	  display: block;
	}
  }
}

section{

  & > *{
	box-sizing: border-box;
	padding:0 20px;
	max-width: 800px;

	@include respondTo($L){
	  padding:0 40px;
	}
  }

  margin:20px 0 40px 0;
  line-height:1.5em;

  h1{
	font-size: 2em;
	margin-bottom: 0.1em;
	line-height: 1em;
	font-family: $title-font;
	padding-top:10px;
	padding-bottom: 10px;
	color: #000;
	max-width: 100%;

	@include respondTo($M){
	  font-size: 4em;
	}
  }
  h3{
	font-size: 1.4em;
	margin-bottom:0.5em;
  }

  p{
	margin:0.5em 0;
  }

  ul{

	list-style-type: disc;
	list-style-position: outside;
	margin-left:20px;
  }

  ol{
	list-style-type:decimal;
	list-style-position: outside;
	margin-left: 20px;
  }
}

dl{
  width:100%;
  overflow: hidden;
  margin-bottom:0;
  padding-bottom: 10px;


  dt{
	float:left;
	margin-right: 20px;
	font-style: italic;
	width:100%;

	@include respondTo($M){
	  width:40%;
	}
  }

  dd{
	float:left;
	line-height: 1em;

	@include respondTo($M){
	  line-height: 1.2em;
	}
  }
}

ul.contact{
  list-style-type: none;
  padding:0;

  @include respondTo($L){
	margin-left:40px;
  }

  li{
	margin:0;
	padding:0 0 0 50px;
	height:30px;
	line-height: 30px;
	margin-bottom:20px;
  }

  .facebook{
	background:url(images/facebook_logo.png) left center no-repeat;
  }

  .twitter{
	background:url(images/twitter_logo.png) left center no-repeat;
  }

  .email{
	background:url(images/email_icon.png) left center no-repeat;
  }
}

.strip p{
  display: inline-block;
  margin-right:10px;
}



@import "nav";
